#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#title{
    font-size:4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bankAction{
    font-size: 1.5rem;
}
.imformation{
    font-size: 1.5rem;
}